<!-- Header -->
<div id="header-wrapper">
	<div id="header">

		<!-- Logo -->
		<h1><a href="index.html">The Trust Machine</a></h1>

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li class="current"><a href="index.html">Home</a></li>
				<li><a href="index.html#intro">Synopsys</a></li>
				<li><a href="index.html#trailer">Video clip</a></li>
				<li><a href="index.html#contact">Contact</a></li>
				<li><a href="index.html#director">Director</a></li>
			</ul>
		</nav>

		<!-- Banner -->
		<section id="banner">
			<header>
				<a href="#trailer" class="button big">Watch a video clip</a>
				
			</header>
		</section>

		